html,body {
    padding:0;
    margin:0;
    font-family: 'Open Sans';
    color:white;
}

.sidebar {
    position:fixed;
    left:0;
    height:100%;
    width:37% !important;
    background-color:#0e1212;
    z-index:1;
}

.sidebar h1,p {
    color:white;
}

.sidebar p {
    font-style:italic;
}

.search {
    position:fixed;
    left:0;
    top:84px;
    width:446px;
    height:69px;
    border-radius:36px;
    margin-left:71px;
    margin-right:71px;
    background-color:#444748;
    z-index:2;
    display:flex;
    align-items:center;
    justify-content:center;
}

.search h1 {
    color:rgb(182, 182, 182);
    font-weight:normal;
}

.main {
    position:fixed;
    right:0;
    height:100%;
    width:63%;
    background-color:#191c1d;
}

.list {
    position:absolute;
    top:160px;
    left:0;
    width:512px;
    margin-left:27px;
    margin-right:27px;
    list-style-type:none;
    padding:0;
}

.list-item {
    position:relative;
    width:100%;
    height:106px;
    background-color:#0e1212;
    border-radius:45px;
    float:left;
    display:block;
    align-items:center;
    justify-content:left;
    line-height:15px;
    font-size:small;
}

.list-item h1 {
    padding-top:16px;
}

.list-item * {
    margin-left:40px;
    margin-right:40px;
}

.list-item:target {
    background-color:#b1cbd0;
}

.list-item:target * {
    color:black;
}

.header {
    position:fixed;
    right:0;
    top:0;
    height:154px;
    width:inherit;
    background-color:#444748;
    display:flex;
    align-items:end;
    justify-content:left;
}

.header h1 {
    margin-left:30px;
    margin-bottom:15px;
    font-size:xxx-large;
}

.data {
    overflow:scroll;
}

.hide {
    display:none;
}

.device-list .data ul {
    position: absolute;
    top: 138px;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    height: -webkit-fill-available;
    overflow-y: scroll;
}

.device-list .data ul li {
    padding:15px 15px 15px 30px;
}

.device-list .data ul li .name {
    font-size:x-large;
}

.device-list .data ul li:hover {
    background-color: #303334;
}

.device-list .data ul a {
    color:white;
    text-decoration: none;
}

.device div span {
    min-width:100px;
    display:inline-block;
}

.device div .code, .username, .version {
    font-size: small;
}